.latest-projects {
  .grid-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr); // Default: Three columns
    grid-auto-rows: minmax(200px, auto); // Automatically adjust row heights with a minimum of 200px
    grid-gap: 20px; // Space between items

    // Define layout for the first 4 grid items
    .grid-item-1,
    .grid-item-4,
    .grid-item-7,
    .grid-item-8 {
      grid-row: span 1; // Takes up 1 row
    }

    .grid-item-2,
    .grid-item-3 {
      grid-row: span 2; // Takes up 2 rows
    }

    .grid-item-5,
    .grid-item-6 {
      grid-row: span 1; // Each takes 1 row
    }

    // Define inverse layout for grid items 5, 6, 7, 8
    .grid-item-5 {
      grid-column: 1;
      grid-row: span 1; // Matches layout of grid-item-4
    }

    .grid-item-6 {
      grid-column: 2;
      grid-row: span 2; // Matches layout of grid-item-3
    }

    .grid-item-7 {
      grid-column: 3;
      grid-row: span 2; // Matches layout of grid-item-2
    }

    .grid-item-8 {
      grid-column: span 1;
      grid-row: span 1; // Matches layout of grid-item-1
    }

    .project-image {
      width: 100%;
      height: 100%; // Ensure images fill the grid row on larger screens
      object-fit: cover;
      border-radius: 8px;
      transition: transform 0.3s ease-in-out;
    }

    // Media query for tablet screens
    @media (max-width: 992px) {
      grid-template-columns: 1fr; // Switch to one column layout
      grid-auto-rows: auto; // Adjust row height automatically based on content

      .grid-item-1,
      .grid-item-2,
      .grid-item-3,
      .grid-item-4,
      .grid-item-5,
      .grid-item-6,
      .grid-item-7,
      .grid-item-8 {
        grid-row: span 1; // Each item takes 1 row
        grid-column: 1; // Full width of column
      }
    }

    // Media query for mobile screens
    @media (max-width: 576px) {
      grid-template-columns: 1fr; // One column layout
      grid-auto-rows: auto; // Adjust row height automatically
      grid-gap: 10px; // Reduce gap

      .grid-item-1,
      .grid-item-2,
      .grid-item-3,
      .grid-item-4,
      .grid-item-5,
      .grid-item-6,
      .grid-item-7,
      .grid-item-8 {
        grid-row: span 1; // Each item takes 1 row
        grid-column: 1; // Full width of column
      }

      // Fixed height for small screens
      .project-image {
        height: 400px; // Set a fixed height for images on small screens
        object-fit: cover; // Ensure image scales properly
      }
    }
  }
}
