.services-header { 
    position: relative;

    &__image {
        height: 500px;
        width: 100%;
        object-fit: cover;
        filter: brightness(60%);
        @media screen and (max-width: 768px) {
            height: 300px;
        }
    }

    &__text {
        position: absolute;
        top: 50%;
        left: 50%; /* Set left to 50% */
        transform: translateX(-50%); /* Center horizontally */
        text-align: center;
        color: white; /* Ensure visibility on dark background */
    }
}
