.footer-section {
    background-color: #0d1b35;
    color: #ffffff;
    padding: 20px 0;
    
    .footer-brand {
      display: flex;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 10px;
  
      .logo {
        width: 120px;
      }
  
    }
  
    .social-icons {
      margin-top: 15px;
  
      .social-icon {
        color: #ffffff;
        margin-right: 10px;
        cursor: pointer;
        transition: transform 0.3s, color 0.3s, background-color 0.3s; // Added transition for background color
    
        // Added styles for the hover effect
        &:hover {
            color: #ffffff; // Keep the icon color white
            background-color: $primary; // Background color on hover
            border: 2px solid #ffffff; // White border on hover
            border-radius: 50%; // Make the border circular
            transform: scale(1.1); // Scale effect
        }
    }
    }
  
    .footer-title {
      font-weight: bold;
      margin-bottom: 10px;
    }
  
    .footer-link {
      color: #e0e0e0;
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
      }
    }
  
    .footer-divider {
      border-top: 1px solid #4a4a4a;
    }
  
    .footer-copyright {
      color: #e0e0e0;
    }
  }
  