.navbar-light {
  background-color: transparent;
  padding: 1rem 0;
  transition: background-color 500ms;

  .dropdown-toggle::after {
    display: none;
  }
  .navbar-brand {
    .logo {
      max-height: 35px;
    }
  }

  .navbar-toggler {
    &:hover,
    &:focus {
      background-color: #f23d3d;
    }
  }

  .navbar-collapse {
    .navbar-nav {
      .nav-link {
        text-align: center;
        color: white;
        font-size: 1.1rem;
        margin: 0 1rem;
        transition: color 0.3s ease;

        @media (max-width: 991px) {
          color: #fff; // White color for small screens
        }
      }
    }
  }

  &.navbar-scrolled {
    background-color: white;
    .navbar-nav__link {
      color: black;
    }
  }

  .dropdown-menu {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 0;
    min-width: 100%;
    width: max-content;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 100%;
    z-index: 1;
    @media (max-width: 991px) {
      background-color: $dark;
    }

    .dropdown-item {
      color: #000; // Dark color for large screens
      padding: 10px 20px;
      transition: background-color 0.3s ease, color 0.3s ease;
      position: relative;
      overflow: hidden;

      &:hover, &:focus {
        background-color: transparent;
        color: #000; // Keep dark on hover for large screens
      }

      &:hover::before {
        transform: scaleX(1);
      }

      span {
        position: relative;
        z-index: 2;
      }
    }
  }

  &.bg-white {
    .dropdown-menu {
      background-color: #FFF;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

      @media (max-width: 991px) {
        background-color: $dark;
      }
      .dropdown-item {
        color: #000;
        &:hover, &:focus {
          color: white;
        }
        
        &::before {
          background-color: $primary;
        }
      }
    }
  }
}




.navbar-nav {
  @media (max-width: 992px) {
    background-color: $dark;
    z-index: 5;
    border-radius: 5px;
    padding: 10px;
    width: 100%;

    .dropdown-menu {
      background-color: $dark;
      border: none;
      &.show {
        display: block;
      }

      .dropdown-item {
        color: #FFF;
        &:hover, &:focus {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }

    .nav-link, .dropdown-item {
      color: #FFF !important; // Force white color for small screens
    }
  }
  &__link {
    color: #FFF;
    text-decoration: none;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 2;
    cursor: pointer;

    span {
      position: relative;
      z-index: 2;
    }
  }
}

/* Pull up effect for all links including dropdown items */
div.pullUp a,
.dropdown-menu .dropdown-item {
  position: relative;
  z-index: 1;

  &:before {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    content: '';
    border-radius: 5px;
    background: $primary;
    z-index: 0;
    opacity: 1;
    transition: all 0.3s;
  }

  &:hover:before {
    height: 100%;
    background-color: $primary;
    
  }
}

.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: transparent;
  padding-right: 40px;
  color: #fff;

  &::placeholder {
    color: rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }

  &:focus {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
}

.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;

  &:focus ~ .input-search {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
}

.input-search-dark {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: transparent;
  padding-right: 40px;
  color: $dark;

  &::placeholder {
    color: rgba(22, 22, 22, 0.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }

  &:focus {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(55, 54, 54, 0.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
}

.btn-search-dark {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  color: $dark;
  background-color: transparent;
  pointer-events: painted;

  &:focus ~ .input-search-dark {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(44, 43, 43, 0.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
}

.bg-white {
  .dropdown-menu {
    background-color: #FFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    .dropdown-item {
      color: $dark;
      &:hover, &:focus {
        color: white;
      }
      
      &::before {
        background-color: $primary;
      }
    }
  }
}

@media (min-width: 992px) {
  .navbar-nav .nav-item.dropdown {
    position: relative;

    .dropdown-menu {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s, visibility 0.3s;
    }

    &:hover .dropdown-menu {
      opacity: 1;
      visibility: visible;
    }
  }
}




/* Adjust the pull-up effect for dropdown items */
.dropdown-menu .dropdown-item {
  &:before {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
  }
}

@media (max-width: 991px) {
  .navbar-nav .nav-item.dropdown {
    .dropdown-menu {
      position: static;
      transform: none;
      opacity: 1;
      visibility: visible;
      display: none;
      
      &.show {
        display: block;
      }
    }
  }
}
