.project-section-v2 {
    &__figure {
        width: 450px;
    }
    &__control {
        position: absolute;
        top: 60%;
        transform: translateY(-50%);
        background: none;
        border: none;
        cursor: pointer;
        z-index: 1;
        padding: 10px;
        background-color: $primary; // Use your primary color
        color: white;
        border-radius: 50px;
        transition: all 0.6s ease 0s;
        overflow: hidden;
      
        @media (max-width: 768px) {
          top: 60%;
          transform: translateY(-37%);
          max-width: 90%;
        }
      
        &--prev {
          left: 10px;
        }
      
        &--next {
          right: 10px;
        }
      
        .arrow-wrapper {
          position: relative;
          overflow: hidden;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      
        .icon {
          position: relative;
          z-index: 2;
          color: white;
          transition: 0.2s 0.1s;
        }
      
        &::before {
          content: "";
          background: $dark;
          height: 155%;
          width: 0;
          position: absolute;
          top: 50%;
          transition: all 0.4s ease-out;
          z-index: 1;
        }
      
        &--prev::before {
          right: 0;
          transform: translateY(-50%) ;
        }
      
        &--next::before {
          left: 0;
          transform: translateY(-50%) ;
        }
      
        &:hover {
          color: $primary;
  
          .icon {
            color: $primary;
          }
  
          &::before {
            width: 110%;
          }
        }
      }
}


  


